#nav-bar {
    background-color: #283C63;
}

.nav {
    justify-content: center;
}

/* .nav-tabs{
    border: 0;
    border-color: none !important;

} */

.nav-tabs .nav-link.active{
    border-color:#4a6eb5 !important;
    border: none;
}

.nav-tabs {
    border-bottom: none;
}

.nav-link{
    color: whitesmoke;
    transition:none;
    border: none;
}

/* .nav-linkactive {
    margin-top: 5px;
}

.nav-link {
    color: black;
}


.nav-item {
    margin-left: 40px;
    color: red;
} */

/* .nav-link, .nav-link:before, .nav-link::after, .nav-link.nav-link:active {
    border: none;
} */

#nav-bar{
    height: 45px;
}

.active{
    background-color: #283C63 !important;
    color: #4a6eb5 !important;
    border-color: none !important;
}

@media screen and (max-width: 768px) {
    #nav-bar{
        position: fixed;
        bottom: 0;
        z-index: 13124124;
        background-color: #283C63;
        width: 100%;
    }

    #topBuffer{
        height: 0px;
        width: 0px;
    }

    .navTitle{
        display: none;
    }
}

@media screen and (width > 768px) {
    #nav-bar{
        position: fixed;
        top: 0;
        z-index: 13124124;
        background-color: #283C63;
        width: 100%;
    }

    #topBuffer{
        height: 45px;
        width: 40px;
    }
    
}