body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* MY CSS */
.btnColor {
  /* background-color: #a4b5da !important; */
  background-color: #283C63 !important;
  color: whitesmoke !important;
  /* color:#D0ECFB !important; */
  border: none !important;
}

/* SEARCH */

.iconHeight {
  height: 20px;
  color: red;
    /* background-color: red */
}

#searchBox {
  /* border: 1px solid grey; */
  height: 50px;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  width: 1000px;
}

#searchField {
  margin-left: 10px;
  border-radius: 10px;
  width: 80%;
  height: 40px;
}

#btnFilter {
  background-color: white;
  margin-left: 10px;
  /* border: 1px solid grey; */
  height: 40px;
  color:#283C63;
}

#btnSearch{
  background-color: white;
  margin-left: 10px;
  /* border: 1px solid grey; */
  height: 40px;
  color:#283C63;
}

#searchFilters {
  width: 800px;
  margin-top: 5px;
  background-color: rgb(223, 241, 251);
  z-index: 123123;
  position: absolute;
  transition: height 0.2s ease;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#noSearchResults{
  margin-top: 20px;
}

#searchFilterBox {
  width: 100%;
  position: relative;
}

#noSearchResultsContainer{
  justify-content: center;
}

#searchBoxContainer{
  justify-content: center;
}

#filterContainer{
  justify-content: center;
}

.showFilters {
  height: 450px;
  overflow-y: scroll;
  /* transition: height 0.5s ease; */
}

.hideFilters {
  height: 0px;
  overflow: hidden;
}

#tagsBox {
  background-color: bisque;
  transition: height 0.5s ease;
}

#tag {
  margin-bottom: 3px;
}

#tagsHolder {
  padding: 10px;
}

.hideTags {
  height: 0px;
  overflow: hidden;
}

.showTags {
  height: 200px;
  overflow-y: scroll;
}

.searchTime {
  display: inline-flex;
  margin-right: 10px;
  width: 100px;
  height: 30px;
  border: 1px solid rgb(212, 210, 210);
  border-radius: 3.5px;
}

#recentlyAdded {
  margin-top: -5px;
}

#tagsToggle {
  border: 1px solid rgb(212, 210, 210);
  width: 100%;
  justify-content: space-between;
  display: flex;
  background-color: white;
}

#fakeArrow{
  padding-right: 8px;
}

.placeholderText{
  font-size: 15px;
}

input {
  text-indent: 10px;
}

#searchResults {
  justify-content: center;
}
/* small : 576px */
/* large: 992px */
/* x-large: 1200px */

@media screen and (max-width: 576px) {
  #searchFilters{
    width: 90%;
  }
}