/* My Tools */
#myToolsSearchField {
    margin-left: 10px;
    border-radius: 10px;
    width: 80%;
    height: 40px;
}

#myToolsSearchField {
    /* margin-left: 10px;
    border-radius: 10px; */
    width: 80%;
    /* height: 40px; */
}

.btnEdit {
    width: fit-content;
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
    /* margin-right: 60px; */
    right: 110px;
    border: 3px solid #283C63 !important;
    border-radius: 10px 10px 10px 10px !important;
    font-weight: 500 !important;
    color: #283C63 !important;
    background-color: white !important;
}

.btnYes {
    width: fit-content;

    border: 3px solid red !important;
    border-radius: 10px 10px 10px 10px !important;
    font-weight: 500 !important;
    color: red !important;
    background-color: white !important;
}

#myToolsSearchBoxContainer {
    /* border: 1px solid grey; */
    height: 50px;
    display: flex;
    /* justify-self: center; */
    padding: 10px;
    justify-content: center;
    width: 100%;
}

#myToolsSearchBox {
    height: 50px;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    width: 1000px;
}

@media screen and (max-width: 576px) {

    #mobileBottomBuffer {
        height: 40px;
        /* border: 1px solid black; */
    }
}